  body {
    padding: 65px 20px 10px 20px;
    background-color: #EEEEEE;
    font-family: 'Times New Roman', serif;
  }

  .btn {
    font-family: Arial, sans-serif;

  }

  .mid_c_1 {
    border-radius: 4px 4px 0 0;
  }

  .card {
    z-index: -1;
  }


  .mid_c_1 h6 {
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }

  .mid_content {
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;

  }

  .mid_c_2 {
    background-color: #F5F5F5;
    padding: 20px;
    border-top: 1px solid grey;
  }

  .card {
    z-index: 0;
  }

  /* .dark {
    background-color: #1D2A35;
  }

  .gray {
    background-color: #38444D;
    color: #D5D6D6;

  } */

  @media only screen and (min-width: 700px){

body{
  padding-top: 80px;
 width: 50%;
 margin: auto;
  }

}